{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set homepageURL = services.url.getHomepageURL() %}
<div class="container logo-container">
    <a class="ht-logo" href="{{ homepageURL }}">
        {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
            <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
        {% else %}
            <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
        {% endif %}
    </a> 
</div> 